<div class=" back">
    <h3>Cadastro de produtos</h3>

    <form action="/produtos" method="POST">
        Codigo: <input type="number" name="codigo" class="form-control">
        <br><br>
        Nome: <input type="text" name="nome" class="form-control">
        <br><br>
        Preço: <input type="number" name="preco" class="form-control">
        <br><br>
        Tipo de Evento: <input type="text" name="tipoDeEvento" class="form-control">
        <br><br>
        Local: <input type="text" name="local" class="form-control">
        <br><br>
        Data: <input type="date" name="data" class="form-control">
        <br>
        <p>Descrição:</p>
        <textarea name="descricao" class="form-control"></textarea>
        <br><br>

        <div class="mb-3">

            <input class="form-control" type="file" id="formFile" placeholder="imagem">
        </div>
        <button type="submit">Cadastrar</button>
    </form>
</div>